.git
.gitignore
.env
.env.*
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/app/.gitignore
!storage/framework/.gitignore
!storage/logs/.gitignore
tests
.phpunit.result.cache
docker-compose.yml
Dockerfile
README.md
.editorconfig
.styleci.yml
phpunit.xml
